*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .slide_images, footer {
    background-color: #0A22F4;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-top: 20px;
    margin-right: 100px;
}

header ul {
    list-style: none;
}

header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.box {
    background: white;
    color: black;
    padding: 8px 16px;
} 

.header_logo {
    height: 55px;
    width: 97px;
    margin-left: 100px;
}

.slide_images {
    display: flex;
    justify-content: center;
    gap: 60px;
    padding-top: 80px;
}

.first_image {
    height: 594.85px;
    width: 458.73px;

}

.second_image {
    height: 597px;
    width: 707px;

}

.third_image {
    height: 594.80px;
    width: 452.73px;

}

.about_us {
    max-width: 150ch;
    padding: 80px 25px;
    margin-left: 100px;
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 30px;
}

.about_text h2{
    font-size: 30px;
    margin-bottom: 60px;
}

.about_text p {
    margin-bottom: 22px;
}

.about_us img {
    display: block;
    width: 707px;
    height: 707px;
    border-right: 6px solid #0A22F4;
    border-bottom: 6px solid #0A22F4;
}

.services {
    padding: 60px 20px;
}

.services h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-left: 80px;
}

.service-cards {
    display: flex;
    gap: 40px;
    padding-bottom: 20px;
    margin: 80px;
    margin-top: 50px;
    gap: 25px;
}

.service_card p {
    font-size: 16px;
    line-height: 1.8;
    max-width: 60ch;
}

.service_card .icon {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    background: #F9F9F9;
    margin-bottom: 20px;
}

.service_card .blue_icon {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    background: #0A22F4;
    margin-bottom: 20px;
}

.contact {
    margin-left: 100px;
    padding: 100px;
    color: white;
}

.contact p {
    margin-top: 50px;
    max-width: 60ch;
}

.contacts {
  display: flex;
  gap: 40px;             
  flex-wrap: wrap;       
  margin-top: 24px;
}


.contact_map {
    margin-top: 58px;
}

.contact_phone {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}

.phone_icon {
  width: 45px; height: 45px;
  border-radius: 4px;
  background: #fff;
  display: grid; place-items: center;
  color: #0b2fff;
}

.contact_mail {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}

.mail_icon {
  width: 45px; height: 45px;
  border-radius: 4px;
  background: #fff;
  display: grid; place-items: center;
  color: #0b2fff;
}

